.playlist-wrapper
{
    display: flex;
  padding-top: 5rem;
}


.sidebar 
{
    width:20%;
    margin: 1rem;
    height: 100%;
    flex-direction: column;
}

.playlist-page
{
    width: 80%;
    height: 100%;
    background-color: #f9f9f9;
    padding:20px 20px;
    
}


@media screen and (max-width:600px)
{
    .playlist-page
    {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}