.model-wrapper
{
    background: #fff;
    width: 80%;
    max-width: 300px;
    margin: 4rem auto;
    border:2px solid black;
    z-index: 1;
    margin-top: -15rem;


    
}

.modal-header
{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.modal-header span 
{
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content
{
    padding: 1.5rem 1rem;

}

.modal-body
{
    margin-bottom: 1rem;
}

.modal-body h4 
{
    font-size: 1.4rem;
   
}

.modal-body p 
{
    font-size: 1rem;
    background: white;
    color: black;
    margin:1rem 0 2rem 0;
}


.modal-footer 
{
    display: block;
    font: 1rem;
    margin-bottom: auto;
    padding: 0.5rem 1.8rem;
    background: #E36C99;
    color: white;
    border: none;
    outline: none;
}
.btn-cancel 
{
    color: white;
   
}




